/* Reset margins and paddings for common elements */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply basic styles to the body */
body {
    background: #e4d4b7; /* Vintage beige background */
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    color: #3f2500; /* Dark text for vintage look */
}

/* Header styles */
header a {
    color: #3f2500;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

header a:hover {
    transform: scale(1.1); /* Slight scale up on hover */
    color: #5b3e00; /* Slightly lighter text on hover */
}

/* Main container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Hero section styles */
.hero {
    background-image: url(../index_files/hero-image.jpg); /* Vintage hero image */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 180px 0; /* Slightly reduced padding */
    margin: 10px;
    border-radius: 8px;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

/* Heading 1 styles */
h1 {
    font-size: 36px;
    color: #3f2500;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: #5b3e00; /* Slightly lighter text on hover */
}

/* Heading 2 styles */
h2 {
    font-size: 24px;
    margin-top: 20px;
    background-color: #e4d4b7; /* Vintage beige background */
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: #3f2500;
    transition: background-color 0.3s ease-in-out;
}

h2:hover {
    background-color: #d4c3a5; /* Slightly darker beige background on hover */
    color: #5b3e00; /* Slightly lighter text on hover */
}

/* Paragraph description styles */
.description {
    margin-top: 10px;
    font-size: 18px;
    color: #5b3e00;
    transition: color 0.3s ease-in-out;
}

.description:hover {
    color: #3f2500; /* Slightly darker text on hover */
}

/* Unordered list styles */
ul {
    list-style-type: square; /* Square list bullets */
    padding: 0;
}

/* List item styles */
li {
    margin-bottom: 5px;
    transition: margin-left 0.3s ease-in-out;
}

li:hover {
    margin-left: 10px; /* Move to the right on hover */
}

/* Anchor styles */
a {
    color: #5b3e00;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* Hover effect for anchor */
a:hover {
    color: #3f2500; /* Slightly darker text on hover */
    text-decoration: underline;
}
